<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="userName" value="test@example.com"></add>
    <add key="userPassword" value="password"></add>
    <add key="BaseAddress" value="example.com"></add>
    <add key="Host" value="Browserstack"></add>
    <add key="browserName" value="Internet Explorer"></add>
    <add key="browserVersion" value="11.0"></add>
    <add key="os" value="Windows"></add>
    <add key="bsUser" value="example1"></add>
    <add key="bsKey" value="password"></add>
    <add key="maskKeyInput" value="true"></add>
    <add key="bsDebug" value="false"></add>
    <add key="bsVideo" value="true"></add>
  </appSettings>
</configuration>
