<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UserName" value="test@example.com"></add>
    <add key="UserPassword" value="password"></add>
    <add key="BaseUrl" value="example.com"></add>
    <add key="Host" value="Browserstack"></add>
    <add key="BrowserName" value="Internet Explorer"></add>
    <add key="BrowserVersion" value="11.0"></add>
    <add key="Platform" value="Windows"></add>
    <add key="BS_USERNAME" value="example1"></add>
    <add key="BS_ACCESS_KEY" value="password"></add>
    <add key="MASK_KEY_INPUT" value="true"></add>
  </appSettings>
</configuration>
